@import url('https://fonts.googleapis.com/css2?family=proxima-nova,Helvetica Neue:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ltc-bodoni-175';
}
::selection{
  color: #000;
  background: #fff;
}
/*navbar section*/

.navbar {
  background: #131313;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  
}
.navbar__container {
  display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0;
    padding: 0;
  
}
  
   .logo {
    overflow:hidden;
    position: absolute;
    border-radius: 80px;
    border: 2px solid black;
    top:5px; 
    left:10px;
   width:110px;
   height:110px;
   
  
}
#navbar__logo {
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  background-image: linear-gradient();
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  left: 120px;
  }


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 50px;
}

.navbar__links {
  background: #000;
color: white;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 20px;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(137, 136, 136);
  outline: none;
  border-radius: 30px;
  background: rgb(79, 130, 79);
  color: #fff;
}


.button:hover {
  background: rgb(43, 82, 43);
  transition: all 0.3s ease;

}

.navbar__links:hover {
color: white;
transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
      display: flex;
      justify-content: space-between;
      z-index: 1;
      width: 100%;
      max-width: 1600;
      padding: 0;
       margin:-20px;
      
  }
  .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
      background: #131313;
  }
  .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
  }

  .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;

  }
  .navbar__item {
      width: 100%;
  }
  .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }
  #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5% 20%);
}
.navbar__btn {
  padding-bottom: 2rem;
}
.button {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80px;
  margin: 0;
}

.navbar__toggle .bar{
  display: block;
  cursor: pointer;

}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

}



/* hero section*/

.img{
  background: url('1.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}


.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}


 .center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 30px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: white;
  background: none;
}
.btns button:first-child:hover{
  background: rgb(72, 156, 72);
  color: black;
}
.center .btns button:last-child{
  background: rgb(159, 203, 159)
  color: black;
}

/*contact form*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(41, 41, 41); }
form { max-width:420px; margin:210px auto; }

.feedback-input {
  color:rgb(241, 235, 235);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid rgb(125, 169, 125);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid rgb(128, 172, 128); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:rgb(98, 136, 98);
  border-radius:9px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:rgb(159, 228, 159); }



/*footer*/
.footer-basic {
  padding:10px 0;
  background-color: black;
  color:white;
}

.footer-basic ul {
  padding: 0px;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}


.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:2px solid rgb(54, 103, 54);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:0px;
  text-align:center;
  font-size:15px;
  color:white;
  margin-bottom:0;
}
